.ongoingGigs {
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: var(--font-space-mono);
  color: var(--light);
  text-align: left;
}
.ongoingGigsWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-23xl);
  background-color: var(--navy-bk);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.btnSubmit:hover,
.ongoingGigsWrapper:hover {
  background-color: var(--color-royalblue-100);
}
.frameChild {
  height: 30px;
  width: 30px;
  position: relative;
  object-fit: cover;
  min-height: 30px;
}
.brenda,
.chainLawy3rs {
  align-self: stretch;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.brenda {
  height: 18px;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
}
.chainLawy3rs {
  font-size: var(--font-size-5xs);
}
.brendaParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.commentCircleChatMessage1Icon {
  height: 10px;
  width: 10px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.b {
  align-self: stretch;
  position: relative;
}
.commentCircleChatMessage1Parent {
  height: 16px;
  background-color: var(--navy-bk);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-11xs) var(--padding-5xs);
  box-sizing: border-box;
  gap: var(--gap-9xs);
  font-size: var(--font-size-5xs);
  color: var(--light);
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.landingPageFor {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.timerIcon {
  height: 12px;
  width: 12px;
  position: relative;
}
.days,
.div,
.dueOn {
  position: relative;
  display: inline-block;
}
.days,
.dueOn {
  font-weight: 700;
  min-width: 52px;
}
.div {
  min-width: 74px;
}
.timerParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-sm) 0 0;
  gap: var(--gap-9xs);
  color: var(--navy-bk-40a);
}
.chatListItemParent,
.chatListParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.chatListItemParent {
  align-self: stretch;
  border: 1px solid var(--navy-bk);
  padding: var(--padding-7xs) var(--padding-6xs);
}
.chatListParent {
  width: 232px;
  padding: 0 0 var(--padding-183xl);
  box-sizing: border-box;
}
.frameItem,
.sophie {
  position: relative;
  overflow: hidden;
}
.frameItem {
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  object-fit: cover;
}
.sophie {
  width: 89px;
  font-weight: 700;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frameParent1 {
  border-right: 1px solid var(--navy-bk-40a);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-2xs) 0 0;
  gap: var(--gap-5xs);
}
.defiDashboardForContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  color: var(--green-500);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 315px;
  max-width: 100%;
  font-family: inherit;
}
.frameDiv {
  width: 641px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.timerIcon1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.timeLeftTo {
  position: relative;
  display: inline-block;
  min-width: 98px;
}
.d21h58m23s {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  color: var(--midnight-bold);
  text-align: right;
  white-space: nowrap;
}
.timeLeftToDeliverParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-9xs);
}
.frameContainer,
.timerGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}
.timerGroup {
  width: 175px;
  background-color: var(--red-light);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-base);
  gap: var(--gap-9xs);
  font-size: var(--font-size-5xs);
}
.frameContainer {
  align-self: stretch;
  background-color: var(--navy-bk);
  justify-content: space-between;
  padding: var(--padding-3xs);
  max-width: 100%;
  gap: var(--gap-xl);
}
.emptyMessages,
.hiSophieIve {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.hiSophieIve {
  margin: 0;
  height: 105px;
}
.emptyMessages {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner,
.hiSophieIveStartedWorkinParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.hiSophieIveStartedWorkinParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b1,
.hiMaxGlad {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.hiMaxGlad {
  margin: 0;
  height: 84px;
}
.b1 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatChild,
.hiMaxGladToHearItItsParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.hiMaxGladToHearItItsParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatChild {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.absolutelyThoseFeatures,
.b2 {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.absolutelyThoseFeatures {
  margin: 0;
  height: 84px;
}
.b2 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.absolutelyThoseFeaturesAreParent,
.freenalceemployerChatInner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.absolutelyThoseFeaturesAreParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner1 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b3,
.perfectCustomizableTriggers {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.perfectCustomizableTriggers {
  margin: 0;
  height: 84px;
}
.b3 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner2,
.perfectCustomizableTriggersParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.perfectCustomizableTriggersParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner2 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b4,
.securityIsA {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.securityIsA {
  margin: 0;
  height: 84px;
}
.b4 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner3,
.securityIsAPriorityIllIParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.securityIsAPriorityIllIParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner3 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b5,
.excellentChoicesMax {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.excellentChoicesMax {
  margin: 0;
  height: 63px;
}
.b5 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.excellentChoicesMaxTwoFaParent,
.freenalceemployerChatInner4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.excellentChoicesMaxTwoFaParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner4 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b6,
.progressingWellIm {
  align-self: stretch;
  position: relative;
}
.progressingWellIm {
  margin: 0;
  height: 63px;
  display: inline-block;
}
.b6 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner5,
.progressingWellImCurrentlParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.progressingWellImCurrentlParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-11xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner5 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b7,
.maxRememberThe {
  align-self: stretch;
  position: relative;
  display: inline-block;
}
.maxRememberThe {
  margin: 0;
  height: 63px;
}
.b7 {
  height: 12px;
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner6,
.maxRememberTheJobShouldBParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.maxRememberTheJobShouldBParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner6 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b8,
.rachelIThink {
  align-self: stretch;
  position: relative;
}
.rachelIThink {
  margin: 0;
}
.b8 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner7,
.rachelIThinkYouMeantToSParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.rachelIThinkYouMeantToSParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner7 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b9,
.hahaGotA {
  align-self: stretch;
  position: relative;
}
.hahaGotA {
  margin: 0;
}
.b9 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner8,
.hahaGotALittleConfusedThParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.hahaGotALittleConfusedThParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner8 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b10,
.noMajorHurdles {
  align-self: stretch;
  position: relative;
}
.noMajorHurdles {
  margin: 0;
}
.b10 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner9,
.noMajorHurdlesAnticipatedParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.noMajorHurdlesAnticipatedParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner9 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
}
.b11,
.soundsLikeYouve {
  align-self: stretch;
  position: relative;
}
.soundsLikeYouve {
  margin: 0;
}
.b11 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.freenalceemployerChatInner10,
.soundsLikeYouveGotEverythParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.soundsLikeYouveGotEverythParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner10 {
  align-self: stretch;
  align-items: flex-end;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
  z-index: 1;
}
.b12,
.definitelySophieIll {
  align-self: stretch;
  position: relative;
}
.definitelySophieIll {
  margin: 0;
}
.b12 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--green-bold);
  text-align: right;
  white-space: nowrap;
}
.definitelySophieIllEnsurParent,
.freenalceemployerChatInner11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.definitelySophieIllEnsurParent {
  width: 420px;
  background-color: var(--yellow-bk-40a);
  border-left: 4px solid var(--yellow-bk);
  overflow: hidden;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
}
.freenalceemployerChatInner11 {
  align-self: stretch;
  align-items: flex-start;
  padding: var(--padding-9xs) var(--padding-5xs);
  flex-shrink: 0;
  z-index: 2;
  color: var(--midnight-bold);
}
.b13,
.lookingForwardTo {
  align-self: stretch;
  position: relative;
}
.lookingForwardTo {
  margin: 0;
}
.b13 {
  font-size: var(--font-size-5xs);
  font-weight: 700;
  color: var(--navy-bk);
  text-align: right;
  white-space: nowrap;
}
.lookingForwardToItMaxThParent {
  width: 420px;
  background-color: var(--navy-bk-40a);
  border-right: 4px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-3xs);
  gap: var(--gap-9xs);
  max-width: 100%;
}
.freenalceemployerChat,
.freenalceemployerChatInner12 {
  align-self: stretch;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
.freenalceemployerChatInner12 {
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-5xs);
  box-sizing: border-box;
  z-index: 3;
}
.freenalceemployerChat {
  height: 676px;
  overflow-y: auto;
  align-items: center;
  justify-content: flex-end;
}
.chatInputContainerChild {
  width: 212px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  font-family: var(--font-space-mono);
  font-weight: 700;
  font-size: var(--font-size-base);
  color: var(--dark-800-30);
}
.sendIcon {
  width: 16px;
  height: 16px;
  position: relative;
}
.send21 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-11xs) var(--padding-11xs) 0 0;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
}
.btnSend,
.chatInputContainer {
  background-color: var(--navy-bk);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
}
.chatInputContainer {
  align-self: stretch;
  background-color: var(--light);
  justify-content: space-between;
  padding: var(--padding-5xs);
  gap: var(--gap-xl);
}
.chatInputContainerWrapper,
.chatMessageContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.chatInputContainerWrapper {
  align-self: stretch;
  background-color: var(--navy-bk);
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.chatMessageContainer {
  flex: 1;
  border: 1px solid var(--navy-bk);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  min-width: 408px;
  max-width: 100%;
}
.collecting,
.dai,
.emptyDai {
  position: relative;
  display: inline-block;
  min-width: 81px;
}
.dai,
.emptyDai {
  font-weight: 700;
  min-width: 59px;
}
.dai {
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 45px;
}
.emptyDaiParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-5xl);
}
.collectingParent,
.frameParent2,
.proofParentParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.collectingParent {
  background-color: var(--navy-bk);
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-xl);
}
.frameParent2,
.proofParentParent {
  align-items: flex-start;
  justify-content: flex-start;
}
.proofParentParent {
  flex: 1;
  padding: var(--padding-xs);
  gap: var(--gap-5xs);
}
.frameParent2 {
  height: 286px;
  border: 1px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
}
.keepTrackOf {
  align-self: stretch;
  position: relative;
}
.taskSquare1Icon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.of,
.taskCompletion,
.taskCompletion1 {
  position: relative;
  display: inline-block;
}
.taskCompletion {
  font-weight: 700;
  min-width: 10px;
}
.of,
.taskCompletion1 {
  flex: 1;
  min-width: 20px;
}
.taskCompletion1 {
  font-weight: 700;
}
.taskCompletionParent {
  width: 58px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
}
.completed {
  position: relative;
  display: inline-block;
  min-width: 89px;
}
.keepTrackOfTheTasksParent,
.taskStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskStatus {
  flex-direction: row;
  gap: var(--gap-5xs);
  text-align: left;
  font-size: var(--font-size-base);
}
.keepTrackOfTheTasksParent {
  align-self: stretch;
  border-bottom: 1px solid var(--navy-bk);
  flex-direction: column;
  padding: var(--padding-9xs) var(--padding-5xs) var(--padding-11xs);
  gap: var(--gap-9xs);
}
.moreHorizIcon {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.includeGraphicsOn {
  flex: 1;
  position: relative;
}
.taskItems {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon1 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck1 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.yellowAndBlack {
  flex: 1;
  position: relative;
}
.taskItems1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon2 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck2 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.hamstersAnimations {
  flex: 1;
  position: relative;
}
.taskItems2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon3 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck3 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.includeHistoricalSwaps {
  flex: 1;
  position: relative;
}
.taskItems3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon4 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck4 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.includeSocialsSection {
  flex: 1;
  position: relative;
}
.taskItems4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon5 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck5 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.includeCoinTracker {
  flex: 1;
  position: relative;
}
.taskItems5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon6 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck6 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.addConversionRate {
  flex: 1;
  position: relative;
}
.taskItems6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon7 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck7 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.makeItResponsive {
  flex: 1;
  position: relative;
}
.taskItems7 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon8 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck8 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.addSwapSection {
  flex: 1;
  position: relative;
}
.taskItems8 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.moreHorizIcon9 {
  width: 16px;
  height: 16px;
  position: relative;
}
.btnCheck9 {
  width: 20px;
  border: 0.5px solid var(--navy-bk);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-12xs);
}
.addBridgeSection {
  flex: 1;
  position: relative;
}
.taskItems9,
.taskList {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.taskList {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: var(--dark-800);
}
.proofSubmission {
  background-color: var(--yellow-bk-10a);
  padding: var(--padding-5xs);
  text-align: center;
  color: var(--navy-medium-bk);
}
.proofSubmission,
.submissionContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.factCheckIcon {
  height: 32px;
  width: 32px;
  position: relative;
}
.acceptJob {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 700;
  font-family: var(--font-space-mono);
  color: var(--light);
  text-align: left;
}
.btnSubmit {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-35xl);
  background-color: var(--navy-bk);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  white-space: nowrap;
}
.submissionContainerParent {
  width: 300px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 300px;
  min-height: 738px;
  font-size: var(--font-size-xs);
  color: var(--light);
}
.chatMessageContainerParent,
.frameGroup {
  box-sizing: border-box;
  display: flex;
  gap: var(--gap-5xs);
}
.chatMessageContainerParent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  max-width: 100%;
  font-size: var(--font-size-sm);
  color: var(--midnight-medium);
}
.frameGroup {
  flex: 1;
  border: 2px solid var(--navy-bk);
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-width: calc(100% - 248px);
  font-size: var(--font-size-5xl);
  color: var(--light);
}
.chatListParentParent,
.content {
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.chatListParentParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content {
  width: 1200px;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--midnight-bold);
  font-family: var(--font-space-mono);
}
.content,
.contentParent,
.freelancerChat {
  display: flex;
  align-items: flex-start;
}
.contentParent {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.freelancerChat {
  width: 100%;
  position: relative;
  background-color: var(--light);
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-12xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 900px) {
  .chatListParent {
    display: none;
    padding-bottom: var(--padding-112xl);
    box-sizing: border-box;
  }
  .frameContainer {
    flex-wrap: wrap;
  }
  .submissionContainerParent {
    flex: 1;
  }
  .chatMessageContainerParent {
    flex-wrap: wrap;
  }
  .frameGroup {
    max-width: 100%;
  }
  .freelancerChat {
    gap: var(--gap-mini);
  }
}
@media screen and (max-width: 700px) {
  .frameDiv {
    flex-wrap: wrap;
  }
  .chatMessageContainer {
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .chatListParent {
    padding-bottom: var(--padding-66xl);
    box-sizing: border-box;
  }
  .defiDashboardForContainer,
  .sophie {
    font-size: var(--font-size-lgi);
  }
  .chatInputContainer {
    flex-wrap: wrap;
  }
  .dai,
  .emptyDai {
    font-size: var(--font-size-lgi);
  }
  .btnSubmit {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
